<h1>Consoles</h1>
<a href="/consoles/form">Add a new Console</a>
{{#each consoles}}
<li>
    <a href="/consoles/show/{{@index}}">{{@index}} - {{this.name}}</a>
    <a href="/consoles/edit?id={{@index}}">Edit</a>
</li>
{{/each}}