{{#if currentUser}}
<div>
    <form action="/users_consoles/upsert" role="form" method="post">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="bookId" value="{{consoleId}}">
        <input type="hidden" name="userEmail" value="{{currentUser.email}}">
        <button type="submit">Submit</button>
    </form>
</div>
{{/if}}